http {
    map $host $env_redirect_to_domain {
        default $REDIRECT_TO_DOMAIN;
    }
    server {
      server_name ${REDIRECT_FROM_DOMAIN};
      return 301 https://$env_redirect_to_domain/$request_uri;
    }
}
